{% extends "modals/duplicate_msg/layout.html" %}

<!-- Modal ID-->
{% block id-modal %} id="duplicate_request_modal" {% endblock %}

<!--Modal Title-->
{% block title-modal %}
<i class="text-danger fas fa-times-circle"></i>&nbsp;&nbsp; Oh Noez !
{% endblock %}

<!-- Modal Body-->
{% block modal-body %}
<div class="text-center text-primary small_text">
    <i class="text-danger fas fa-times-circle fa-5x"></i>
</div>
<div class="text-danger mb-2 mt-2 msg_duplicate"> You have already a pending request</div>
<div class="mb-3" style="font-size:12px;">
    Note: You could make a new request after the first one was processed
</div>
{% endblock %}

<!--Modal position -->
{% block modal-centered %}
modal-dialog-centered
{% endblock %}
