{% extends 'modals/forms/layout.html' %}

<!--===Modal ID===-->
{% block id-modal %} id="backendModal" {% endblock  %}
<!-- Modal Title -->
{% block title-modal %} Backend job {% endblock %}

<!-- Form Action -->
{% block action %} action="/backend_email" {% endblock action %}

<!-- Form Validation -->
{% block validation %} onsubmit="return backend_form_valid()" {% endblock validation %}

<!-- ================== INPUT ID ==================== -->
{% block id-name %} id="name_backend" {% endblock id-name %} 
{% block id-age %} id="age_backend" {% endblock id-age %} 
{% block id-email %} id="email_backend" {% endblock id-email %}
{% block id-phone %} id="phone_backend" {% endblock id-phone %} 
{% block id-address %} id="address_backend" {% endblock id-address %} 
{% block id-experience %} id="experience_backend" {% endblock id-experience %}
{% block id-skills %} id="skills_backend" {% endblock id-skills %} 
{% block id-file %} id="file_backend" {% endblock id-file %}
